* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E5E5E5;
}

.App {
  width: 550px;
  height: 704px;
  background-color: white;
  margin-top: 45px;
  padding: 0 40px 28px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}

.navbar {
  width: 550px;
  height: 55px;
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar > img {
  width: 24px;
  height: 24px;
}

.navbar > h1 {
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.075em;
  text-align: left;
  padding-left: 7px;
}

.container {
  gap: 36px;
  display: flex;
  flex-direction: column;
}

.journal {
  width: 470px;
  height: 168px;
  display: flex;
  flex-direction: row;
  padding-right: 8px;
}

.journal--img {
  width: 125px;
  height: 168px;
  object-fit: cover;
  border-radius: 5px;
}

.container--description {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 19px;
}

.container--location {
  display: flex;
  flex-direction: row;
}

.journal--location-img {
  width: 7px;
  height: 9.55px;
  margin-right: 4px;
}

.journal--location {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
}

.journal--map {
  margin-left: 12px;
  color: #918E9B;
}

.journal--title {
  color: #2B283A;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding: 7px 0 13px;
}

.journal--date {
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  color: #2B283A;
  padding-bottom: 9px;
}

.journal--description {
  font-weight: 400;
  line-height: 15px;
  color: #2B283A;
}